.book_item_container {
  display: flex;
  max-height: 120px;
  border-bottom: 1px solid #ebebeb;
  padding: 1rem;  
  cursor: pointer;
}

.book_item_content {
  padding: 0 1rem;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.book_item_title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.book_item_author {
  font-size: 0.8rem;
  color: #666666;
}

.book_item_subtitle {
  font-size: 0.8rem;  
  font-weight: normal;
  margin: 0;
  margin-top: 4px;
}

