.searchbar_container {
  display: flex;
  gap: 0.5rem;
}

.searchbar_input {
  flex-grow: 1;
  padding: 0.5rem;
  height: 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.2rem;
}

.searchbar_button {  
  border: none;
  width: 80px;
  border-radius: 0.5rem;
  background-color: #0072ff;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}