.book_detail_image_container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  max-height: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

.book_detail_image_container::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  content: '';
}

.book_detail_image {
  z-index: 1;
  max-height: 350px;
  height: 100%;
}

.book_detail_content {
  padding: 1rem;
}

.book_detail_title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.book_detail_sub_title {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
  margin-top: 1rem;
  color: #666666;
}

.book_detail_author {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  margin-top: 1rem;
  color: #666666;
}

.book_detail_description {
  font-size: 1rem;
  font-weight: normal;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0;
  margin-top: 1rem;
  color: #333333;
  line-height: 1.5;
  white-space: pre-line;
}